*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 145vh;
    background: #151515;
}

/*criando sombras para dar a ilusão de mais estrelas*/
.stars{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 50px 30px #6434A1,
    100px 80px #6434A1,
    80px 120px #6434A1,
    300px 20px #6434A1,
    250px 130px #6434A1,
    200px 50px #6434A1,
    150px 100px #6434A1,
    320px 100px #6434A1,
    420px 100px #6434A1,
    520px 100px #6434A1,
    500px 80px #6434A1,
    580px 120px #6434A1,
    400px 130px #6434A1,
    600px 20px #6434A1,
    700px 20px #6434A1,
    800px 30px #6434A1,
    820px 50px #6434A1,
    600px 60px #6434A1,
    700px 100px #6434A1,
    800px 85px #6434A1,
    820px 200px #6434A1,
    880px 60px #6434A1,
    900px 100px #6434A1,
    1000px 85px #6434A1,
    1120px 200px #6434A1,
    880px 88px #6434A1,
    900px 130px #6434A1,
    1000px 100px #6434A1,
    1120px 180px #6434A1,
    1200px 100px #6434A1,
    1222px 20px #6434A1,
    1095px 50px #6434A1,
    1400px 88px #6434A1,
    1450px 130px #6434A1,
    1350px 100px #6434A1,
    1300px 180px #6434A1,
    1500px 88px #6434A1,
    1530px 130px #6434A1,
    1580px 100px #6434A1,
    1600px 180px #6434A1,
    1615px 20px #6434A1,
    1650px 44px #6434A1,
    1700px 100px #6434A1,
    1750px 200px #6434A1,
    1800px 20px #6434A1,
    1820px 44px #6434A1,
    500px 105px #6434A1,

    /*preenchendo da altura*/
    120px 100px #6434A1,
    80px 350px #6434A1,
    300px 500px #6434A1,
    255px 455px #6434A1,
    203px 388px #6434A1,
    100px 800px #6434A1,
    80px 450px #6434A1,
    300px 280px #6434A1,
    250px 444px #6434A1,
    200px 333px #6434A1,
    150px 666px #6434A1,
    320px 547px #6434A1,
    420px 450px #6434A1,
    520px 288px #6434A1,
    500px 802px #6434A1,
    580px 498px #6434A1,
    400px 330px #6434A1,
    195px 418px #6434A1,
    502px 615px #6434A1,
    528px 599px #6434A1,
    588px 580px #6434A1,
    600px 333px #6434A1,
    430px 395px #6434A1,
    610px 700px #6434A1,
    701px 620px #6434A1,
    800px 380px #6434A1,
    823px 502px #6434A1,
    615px 603px #6434A1,
    766px 777px #6434A1,
    788px 666px #6434A1,
    825px 369px #6434A1,
    885px 602px #6434A1,
    910px 236px #6434A1,
    1100px 647px #6434A1,
    1250px 230px #6434A1,
    1315px 215px #6434A1,
    1090px 300px #6434A1,
    1550px 885px #6434A1,
    1535px 315px #6434A1,
    1590px 415px #6434A1,
    1650px 380px #6434A1,
    1625px 225px #6434A1,
    1844px 222px #6434A1,
    1200px 280px #6434A1,
    1222px 330px #6434A1,
    1095px 5020px #6434A1,
    1400px 935px #6434A1,
    1450px 830px #6434A1,
    1350px 600px #6434A1,
    1350px 330px #6434A1,
    1315px 220px #6434A1,
    1720px 450px #6434A1,
    1553px 885px #6434A1,
    1333px 410px #6434A1,
    1222px 415px #6434A1,
    1687px 593px #6434A1,
    1525px 522px #6434A1,
    1488px 333px #6434A1,
    1002px 820px #6434A1,
    1741px 660px #6434A1,
    1050px 526px #6434A1,
    1437px 910px #6434A1,
    1452px 835px #6434A1,
    1553px 613px #6434A1,
    1300px 780px #6434A1,
    1500px 880px #6434A1,
    1530px 810px #6434A1,
    1580px 1000px #6434A1,
    1600px 180px #6434A1,
    1615px 205px #6434A1,
    1800px 250px #6434A1,
    1820px 440px #6434A1,
    1805px 255px #6434A1,
    1825px 453px #6434A1,
    1835px 511px #6434A1,
    1820px 500px #6434A1,
    102px 800px #6434A1,
    130px 610px #6434A1,
    305px 799px #6434A1,
    250px 874px #6434A1,
    258px 562px #6434A1,
    152px 777px #6434A1,
    328px 900px #6434A1,
    425px 885px #6434A1,
    529px 710px #6434A1,
    587px 802px #6434A1,
    581px 604px #6434A1,
    1820px 800px #6434A1,
    1805px 755px #6434A1,
    1825px 900px #6434A1,
    1835px 811px #6434A1,
    1820px 600px #6434A1,
    1901px 815px #6434A1,
    1915px 1005px #6434A1,
    1985px 185px #6434A1,
    1940px 222px #6434A1,
    1928px 255px #6434A1,
    2000px 440px #6434A1,
    2100px 255px #6434A1,
    2110px 453px #6434A1,
    2120px 511px #6434A1,
    2130px 500px #6434A1,
    2140px 800px #6434A1,
    2145px 610px #6434A1,
    2150px 799px #6434A1,
    2155px 874px #6434A1,
    2160px 562px #6434A1,
    2170px 777px #6434A1,
    2175px 900px #6434A1,
    2180px 885px #6434A1,
    2185px 710px #6434A1,
    2190px 802px #6434A1,
    2195px 604px #6434A1,
    2200px 800px #6434A1,
    2205px 755px #6434A1,
    2010px 900px #6434A1,
    2015px 811px #6434A1,
    2020px 600px #6434A1,

    2300px 800px #6434A1,
    2335px 755px #6434A1,
    2340px 900px #6434A1,
    2345px 811px #6434A1,
    2350px 600px #6434A1,
    2355px 815px #6434A1,
    2360px 1005px #6434A1,
    2365px 185px #6434A1,
    2370px 222px #6434A1,
    2375px 255px #6434A1,
    2380px 440px #6434A1,
    2385px 255px #6434A1,
    2390px 453px #6434A1,
    2395px 511px #6434A1,
    2400px 500px #6434A1,
    2420px 800px #6434A1,
    2425px 610px #6434A1,
    2440px 799px #6434A1,
    2445px 874px #6434A1,
    2447px 562px #6434A1,
    2500px 777px #6434A1,
    2530px 900px #6434A1,
    2535px 885px #6434A1,
    2540px 710px #6434A1,
    2545px 802px #6434A1,
    2560px 604px #6434A1,
    2565px 800px #6434A1,
    2570px 755px #6434A1,
    2600px 900px #6434A1,
    2601px 811px #6434A1,
    2620px 600px #6434A1;
    

    animation: anim-stars 20s linear infinite;
}

.stars::after{
    content: " ";
    position: absolute;
    top: 100vh;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 50px 30px #6434A1,
    100px 80px #6434A1,
    80px 120px #6434A1,
    300px 20px #6434A1,
    250px 130px #6434A1,
    200px 50px #6434A1,
    150px 100px #6434A1,
    320px 100px #6434A1,
    420px 100px #6434A1,
    520px 100px #6434A1,
    500px 80px #6434A1,
    580px 120px #6434A1,
    400px 130px #6434A1,
    600px 20px #6434A1,
    700px 20px #6434A1,
    800px 30px #6434A1,
    820px 50px #6434A1,
    600px 60px #6434A1,
    700px 100px #6434A1,
    800px 85px #6434A1,
    820px 200px #6434A1,
    880px 60px #6434A1,
    900px 100px #6434A1,
    1000px 85px #6434A1,
    1120px 200px #6434A1,
    880px 88px #6434A1,
    900px 130px #6434A1,
    1000px 100px #6434A1,
    1120px 180px #6434A1,
    1200px 100px #6434A1,
    1222px 20px #6434A1,
    1095px 50px #6434A1,
    1400px 88px #6434A1,
    1450px 130px #6434A1,
    1350px 100px #6434A1,
    1300px 180px #6434A1,
    1500px 88px #6434A1,
    1530px 130px #6434A1,
    1580px 100px #6434A1,
    1600px 180px #6434A1,
    1615px 20px #6434A1,
    1650px 44px #6434A1,
    1700px 100px #6434A1,
    1750px 200px #6434A1,
    1800px 20px #6434A1,
    1820px 44px #6434A1,
    500px 105px #6434A1,

    /*preenchendo da altura*/
    120px 100px #6434A1,
    80px 350px #6434A1,
    300px 500px #6434A1,
    255px 455px #6434A1,
    203px 388px #6434A1,
    100px 800px #6434A1,
    80px 450px #6434A1,
    300px 280px #6434A1,
    250px 444px #6434A1,
    200px 333px #6434A1,
    150px 666px #6434A1,
    320px 547px #6434A1,
    420px 450px #6434A1,
    520px 288px #6434A1,
    500px 802px #6434A1,
    580px 498px #6434A1,
    400px 330px #6434A1,
    195px 418px #6434A1,
    502px 615px #6434A1,
    528px 599px #6434A1,
    588px 580px #6434A1,
    600px 333px #6434A1,
    430px 395px #6434A1,
    610px 700px #6434A1,
    701px 620px #6434A1,
    800px 380px #6434A1,
    823px 502px #6434A1,
    615px 603px #6434A1,
    766px 777px #6434A1,
    788px 666px #6434A1,
    825px 369px #6434A1,
    885px 602px #6434A1,
    910px 236px #6434A1,
    1100px 647px #6434A1,
    1250px 230px #6434A1,
    1315px 215px #6434A1,
    1090px 300px #6434A1,
    1550px 885px #6434A1,
    1535px 315px #6434A1,
    1590px 415px #6434A1,
    1650px 380px #6434A1,
    1625px 225px #6434A1,
    1844px 222px #6434A1,
    1200px 280px #6434A1,
    1222px 330px #6434A1,
    1095px 5020px #6434A1,
    1400px 935px #6434A1,
    1450px 830px #6434A1,
    1350px 600px #6434A1,
    1350px 330px #6434A1,
    1315px 220px #6434A1,
    1720px 450px #6434A1,
    1553px 885px #6434A1,
    1333px 410px #6434A1,
    1222px 415px #6434A1,
    1687px 593px #6434A1,
    1525px 522px #6434A1,
    1488px 333px #6434A1,
    1002px 820px #6434A1,
    1741px 660px #6434A1,
    1050px 526px #6434A1,
    1437px 910px #6434A1,
    1452px 835px #6434A1,
    1553px 613px #6434A1,
    1300px 780px #6434A1,
    1500px 880px #6434A1,
    1530px 810px #6434A1,
    1580px 1000px #6434A1,
    1600px 180px #6434A1,
    1615px 205px #6434A1,
    1800px 250px #6434A1,
    1820px 440px #6434A1,
    1805px 255px #6434A1,
    1825px 453px #6434A1,
    1835px 511px #6434A1,
    1820px 500px #6434A1,
    102px 800px #6434A1,
    130px 610px #6434A1,
    305px 799px #6434A1,
    250px 874px #6434A1,
    258px 562px #6434A1,
    152px 777px #6434A1,
    328px 900px #6434A1,
    425px 885px #6434A1,
    529px 710px #6434A1,
    587px 802px #6434A1,
    581px 604px #6434A1,
    1820px 800px #6434A1,
    1805px 755px #6434A1,
    1825px 900px #6434A1,
    1835px 811px #6434A1,
    1820px 600px #6434A1;
}

.stars2{
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px #6434A1,
      125px 35px #6434A1,
      50px 80px #6434A1,
      10px 120px #6434A1,
      275px 90px #6434A1,
      230px 10px #6434A1,
      120px 130px #6434A1,
      300px 130px #6434A1,
      220px 115px #6434A1,

      100px 80px #6434A1,
      80px 120px #6434A1,
      300px 20px #6434A1,
      250px 130px #6434A1,
      200px 50px #6434A1,
      150px 100px #6434A1,
      320px 100px #6434A1,
      420px 100px #6434A1,
      520px 100px #6434A1,
      500px 80px #6434A1,
      580px 120px #6434A1,
      400px 130px #6434A1,
      600px 20px #6434A1,
      700px 20px #6434A1,
      800px 30px #6434A1,
      820px 50px #6434A1,
      600px 60px #6434A1,
      700px 100px #6434A1,
      800px 85px #6434A1,
      820px 200px #6434A1,
      880px 60px #6434A1,
      900px 100px #6434A1,
      1000px 85px #6434A1,
      1120px 200px #6434A1,
      880px 88px #6434A1,
      900px 130px #6434A1,
      1000px 100px #6434A1,
      1120px 180px #6434A1,
      1200px 100px #6434A1,
      1222px 20px #6434A1,
      1095px 50px #6434A1,
      1400px 88px #6434A1,
      1450px 130px #6434A1,
      1350px 100px #6434A1,
      1300px 180px #6434A1,
      1500px 88px #6434A1,
      1530px 130px #6434A1,
      1580px 100px #6434A1,
      1600px 180px #6434A1,
      1615px 20px #6434A1,
      1650px 44px #6434A1,
      1700px 100px #6434A1,
      1750px 200px #6434A1,
      1800px 20px #6434A1,
      1820px 44px #6434A1,
      500px 105px #6434A1,
  
      /*preenchendo da altura*/
      120px 100px #6434A1,
      80px 350px #6434A1,
      300px 500px #6434A1,
      255px 455px #6434A1,
      203px 388px #6434A1,
      100px 800px #6434A1,
      80px 450px #6434A1,
      300px 280px #6434A1,
      250px 444px #6434A1,
      200px 333px #6434A1,
      150px 666px #6434A1,
      320px 547px #6434A1,
      420px 450px #6434A1,
      520px 288px #6434A1,
      500px 802px #6434A1,
      580px 498px #6434A1,
      400px 330px #6434A1,
      195px 418px #6434A1,
      502px 615px #6434A1,
      528px 599px #6434A1,
      588px 580px #6434A1,
      600px 333px #6434A1,
      430px 395px #6434A1,
      610px 700px #6434A1,
      701px 620px #6434A1,
      800px 380px #6434A1,
      823px 502px #6434A1,
      615px 603px #6434A1,
      766px 777px #6434A1,
      788px 666px #6434A1,
      825px 369px #6434A1,
      885px 602px #6434A1,
      910px 236px #6434A1,
      1100px 647px #6434A1,
      1250px 230px #6434A1,
      1315px 215px #6434A1,
      1090px 300px #6434A1,
      1550px 885px #6434A1,
      1535px 315px #6434A1,
      1590px 415px #6434A1,
      1650px 380px #6434A1,
      1625px 225px #6434A1,
      1844px 222px #6434A1,
      1200px 280px #6434A1,
      1222px 330px #6434A1,
      1095px 5020px #6434A1,
      1400px 935px #6434A1,
      1450px 830px #6434A1,
      1350px 600px #6434A1,
      1350px 330px #6434A1,
      1315px 220px #6434A1,
      1720px 450px #6434A1,
      1553px 885px #6434A1,
      1333px 410px #6434A1,
      1222px 415px #6434A1,
      1687px 593px #6434A1,
      1525px 522px #6434A1,
      1488px 333px #6434A1,
      1002px 820px #6434A1,
      1741px 660px #6434A1,
      1050px 526px #6434A1,
      1437px 910px #6434A1,
      1452px 835px #6434A1,
      1553px 613px #6434A1,
      1300px 780px #6434A1,
      1500px 880px #6434A1,
      1530px 810px #6434A1,
      1580px 1000px #6434A1,
      1600px 180px #6434A1,
      1615px 205px #6434A1,
      1800px 250px #6434A1,
      1820px 440px #6434A1,
      1805px 255px #6434A1,
      1825px 453px #6434A1,
      1835px 511px #6434A1,
      1820px 500px #6434A1,
      102px 800px #6434A1,
      130px 610px #6434A1,
      305px 799px #6434A1,
      250px 874px #6434A1,
      258px 562px #6434A1,
      152px 777px #6434A1,
      328px 900px #6434A1,
      425px 885px #6434A1,
      529px 710px #6434A1,
      587px 802px #6434A1,
      581px 604px #6434A1,
      1820px 800px #6434A1,
      1805px 755px #6434A1,
      1825px 900px #6434A1,
      1835px 811px #6434A1,
      1820px 600px #6434A1;
    animation: anim-stars 25s linear infinite;
  }
  
.stars2::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px #6434A1,
    125px 35px #6434A1,
    50px 80px #6434A1,
    10px 120px #6434A1,
    275px 90px #6434A1,
    230px 10px #6434A1,
    120px 130px #6434A1,
    300px 130px #6434A1,
    220px 115px #6434A1,
    100px 80px #6434A1,
    80px 120px #6434A1,
    300px 20px #6434A1,
    250px 130px #6434A1,
    200px 50px #6434A1,
    150px 100px #6434A1,
    320px 100px #6434A1,
    420px 100px #6434A1,
    520px 100px #6434A1,
    500px 80px #6434A1,
    580px 120px #6434A1,
    400px 130px #6434A1,
    600px 20px #6434A1,
    700px 20px #6434A1,
    800px 30px #6434A1,
    820px 50px #6434A1,
    600px 60px #6434A1,
    700px 100px #6434A1,
    800px 85px #6434A1,
    820px 200px #6434A1,
    880px 60px #6434A1,
    900px 100px #6434A1,
    1000px 85px #6434A1,
    1120px 200px #6434A1,
    880px 88px #6434A1,
    900px 130px #6434A1,
    1000px 100px #6434A1,
    1120px 180px #6434A1,
    1200px 100px #6434A1,
    1222px 20px #6434A1,
    1095px 50px #6434A1,
    1400px 88px #6434A1,
    1450px 130px #6434A1,
    1350px 100px #6434A1,
    1300px 180px #6434A1,
    1500px 88px #6434A1,
    1530px 130px #6434A1,
    1580px 100px #6434A1,
    1600px 180px #6434A1,
    1615px 20px #6434A1,
    1650px 44px #6434A1,
    1700px 100px #6434A1,
    1750px 200px #6434A1,
    1800px 20px #6434A1,
    1820px 44px #6434A1,
    500px 105px #6434A1,

    /*preenchendo da altura*/
    120px 100px #6434A1,
    80px 350px #6434A1,
    300px 500px #6434A1,
    255px 455px #6434A1,
    203px 388px #6434A1,
    100px 800px #6434A1,
    80px 450px #6434A1,
    300px 280px #6434A1,
    250px 444px #6434A1,
    200px 333px #6434A1,
    150px 666px #6434A1,
    320px 547px #6434A1,
    420px 450px #6434A1,
    520px 288px #6434A1,
    500px 802px #6434A1,
    580px 498px #6434A1,
    400px 330px #6434A1,
    195px 418px #6434A1,
    502px 615px #6434A1,
    528px 599px #6434A1,
    588px 580px #6434A1,
    600px 333px #6434A1,
    430px 395px #6434A1,
    610px 700px #6434A1,
    701px 620px #6434A1,
    800px 380px #6434A1,
    823px 502px #6434A1,
    615px 603px #6434A1,
    766px 777px #6434A1,
    788px 666px #6434A1,
    825px 369px #6434A1,
    885px 602px #6434A1,
    910px 236px #6434A1,
    1100px 647px #6434A1,
    1250px 230px #6434A1,
    1315px 215px #6434A1,
    1090px 300px #6434A1,
    1550px 885px #6434A1,
    1535px 315px #6434A1,
    1590px 415px #6434A1,
    1650px 380px #6434A1,
    1625px 225px #6434A1,
    1844px 222px #6434A1,
    1200px 280px #6434A1,
    1222px 330px #6434A1,
    1095px 5020px #6434A1,
    1400px 935px #6434A1,
    1450px 830px #6434A1,
    1350px 600px #6434A1,
    1350px 330px #6434A1,
    1315px 220px #6434A1,
    1720px 450px #6434A1,
    1553px 885px #6434A1,
    1333px 410px #6434A1,
    1222px 415px #6434A1,
    1687px 593px #6434A1,
    1525px 522px #6434A1,
    1488px 333px #6434A1,
    1002px 820px #6434A1,
    1741px 660px #6434A1,
    1050px 526px #6434A1,
    1437px 910px #6434A1,
    1452px 835px #6434A1,
    1553px 613px #6434A1,
    1300px 780px #6434A1,
    1500px 880px #6434A1,
    1530px 810px #6434A1,
    1580px 1000px #6434A1,
    1600px 180px #6434A1,
    1615px 205px #6434A1,
    1800px 250px #6434A1,
    1820px 440px #6434A1,
    1805px 255px #6434A1,
    1825px 453px #6434A1,
    1835px 511px #6434A1,
    1820px 500px #6434A1,
    102px 800px #6434A1,
    130px 610px #6434A1,
    305px 799px #6434A1,
    250px 874px #6434A1,
    258px 562px #6434A1,
    152px 777px #6434A1,
    328px 900px #6434A1,
    425px 885px #6434A1,
    529px 710px #6434A1,
    587px 802px #6434A1,
    581px 604px #6434A1,
    1820px 800px #6434A1,
    1805px 755px #6434A1,
    1825px 900px #6434A1,
    1835px 811px #6434A1,
    1820px 600px #6434A1,
    1820px 1870px #6434A1,
    102px 1777px #6434A1,
    130px 1414px #6434A1,
    305px 1690px #6434A1,


    300px 1332px #6434A1,
    333px 1741px #6434A1,
    880px 1320px #6434A1,
    200px 1201px #6434A1,
    430px 1035px #6434A1,
    579px 1140px #6434A1,
    500px 1185px #6434A1,
    585px 1935px #6434A1,
    1300px 1870px #6434A1,
    1380px 1705px #6434A1,
    1820px 1122px #6434A1,

    250px 1999px #6434A1,
    258px 1305px #6434A1,
    152px 1852px #6434A1,
    328px 1222px #6434A1,
    425px 1030px #6434A1,
    529px 1040px #6434A1,
    587px 1700px #6434A1,
    581px 1832px #6434A1,
    1820px 1410px #6434A1,
    1805px 1775px #6434A1,
    1825px 1111px #6434A1,
    1835px 1222px #6434A1,
    1820px 1333px #6434A1,
    1802px 1200px #6434A1,
    2000px 1205px #6434A1,
    1852px 1300px #6434A1,
    1835px 1333px #6434A1,
    1931px 2010px #6434A1,
    1999px 1447px #6434A1,
    2300px 1502px #6434A1,
    2301px 1530px #6434A1;

}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-95vh);
    }
}